apiVersion: 1

datasources:
  - name: loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: true
    editable: true
    jsonData:
      derivedFields:
        - datasourceUid: jaeger
          # matcherRegex: trace_id=(\w+)  - for text-format logs
          matcherRegex: '"trace_id":"([^"]+)"'
          name: TraceID
          url: $${__value.raw}
      logsToTraces:
        datasourceUid: "jaeger"
        tags: ["job", "instance", "pod", "namespace"]
